 .circle {
        width: 300px; 
        height: 300px; 
        background-color: 
          #7551E9
        ; 
        border-radius: 50%;
        position: relative;
        top: 50%; 
        left: 50%; }

      .circle img {
        width: 100%; 
        height: 100%;
        object-fit: contain; 
        border-radius: 50%;
      }

      .tinyimages{
       position: absolute;
       width: 40px;
       height: 40px;
       object-fit: cover;
      }

      .image1 {
        top: 10%;
        right:50%;
      }
      .image2 {
        bottom: 10%;
        right:46%;
      }
      .image3 {
        bottom: 4%;
        left:65%;
      }
      .image4{
        top:10%;
        left:66%;
      }